.homepage {
    font-family: Arial, sans-serif;
  }
  
  .contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    color: white;
    text-align: center;
    position: relative;
  }
  
  .contact-us-content {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .services-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .services-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .services-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .services-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .services-content a:hover {background-color: #f1f1f1;}
  
  .services-dropdown:hover .services-content {
    display: block;
  }
  
  .services-dropdown:hover .services-button {
    background-color: #3e8e41;
  }
  
  .main-content {
    text-align: center;
    padding: 200px;;
    background-image: url('./img/bg3333.jpg');
    background-size: cover;
    color: rgba(24, 22, 27, 0.37);
    
  }
  
  .main-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .linkedin-icon {
    color: #0077b5;
    font-size: 1.5rem;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  .linkedin-icon:hover {
    color: #005582;
  }
  .get-started {
    background-color: #FF4081;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .get-started:hover {
    background-color: #e91e63;
  }
  